@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}


@font-face {
    font-family: NotoSansItalic;
    src: url('../fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf');
}