@import "./colors.css";
@import "./fonts.css";

:root {

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body.dark-theme{
  /* Colores para la app */
  --color-bg-app: var(--Dark-Gradient);

  /* Colores para el topbar */
  --color-bg-topbar: var(--Neutral-800);

  --color-bg-topbar-btn: var(--Neutral-700);
  --color-bg-topbar-btn-hover: var(--Neutral-600);
  --color-outline-topbar-btn: var(--Red-500);

  /* Colores para la barra de estados */
  --color-text-title: var(--Neutral-100);

  --color-bg-btn: var(--Neutral-700);
  --color-text-btn: var(--Neutral-100);
  --color-bg-btn-active: var(--Red-500);
  --color-text-btn-active: var(--Neutral-800);
  --color-bg-btn-active-hover: var(--Red-700);
  --color-border-btn: var(--Neutral-600);
  --color-bg-btn-hover: var(--Neutral-600);
  --color-outline-btn-focus: var(--Red-500);
  --color-bg-btn-focus-not-active: var(--Neutral-600);
  

  /*Colores para los cards  */
  --color-bg-card: var(--Neutral-800);
  --color-border-card: var(--Neutral-600);

  --color-text-card-title: var(--Neutral-100);
  --color-text-card-desc: var(--Neutral-300);

  --color-bg-card-btn: var(--Neutral-800);
  --color-text-card-btn: var(--Neutral-300);
  --color-border-card-btn:var(--Neutral-600);
  --color-bg-card-btn-hover: var(--Red-700);
  --color-text-card-btn-hover: var(--Neutral-800);
  --color-bg-card-btn-focus: var(--Neutral-600);
  --color-text-card-btn-focus: var(--Neutral-0);
  --color-outline-card-btn-focus: var(--Red-500);

  /* Colores para el slider */
  --color-bg-slider-no-checked: var(--Neutral-600);
  --color-bg-slider-checked: var(--Red-500);
  --color-outline-slider-focus: var(--Red-500);
  --color-bg-slider-checked-hover: var(--Red-700);
  --color-round-slider: var(--Neutral-100);
  
}

body.light-theme{
  /* Colores para la app */
  --color-bg-app: var(--Light-Gradient);

  /* Colores para el topbar */
  --color-bg-topbar: var(--Neutral-0);

  --color-bg-topbar-btn: var(--Neutral-100);
  --color-bg-topbar-btn-hover: var(--Neutral-300);
  --color-outline-topbar-btn: var(--Red-500);

  /* Colores para la barra de estados */
  --color-text-title: var(--Neutral-900);

  --color-bg-btn: var(--Neutral-0);
  --color-text-btn: var(--Neutral-700);
  --color-bg-btn-active: var(--Red-500);
  --color-text-btn-active: var(--Neutral-0);
  --color-bg-btn-active-hover: var(--Red-700);
  --color-border-btn: var(--Neutral-300);
  --color-bg-btn-hover: var(--Neutral-100);
  --color-outline-btn-focus: var(--Red-500);
  --color-bg-btn-focus-not-active: var(--Neutral-100);

  /*Colores para los cards  */
  --color-bg-card: var(--Neutral-0);
  --color-border-card: var(--Neutral-200);

  --color-text-card-title: var(--Neutral-900);
  --color-text-card-desc: var(--Neutral-600);

  --color-bg-card-btn: var(--Neutral-0);
  --color-text-card-btn: var(--Neutral-700);
  --color-border-card-btn:var(--Neutral-300);
  --color-bg-card-btn-hover: var(--Red-500);
  --color-text-card-btn-hover: var(--Neutral-0);
  --color-bg-card-btn-focus: var(--Neutral-100);
  --color-text-card-btn-focus: var(--Neutral-800);
  --color-outline-card-btn-focus: var(--Red-500);

    /* Colores para el slider */
  --color-bg-slider-no-checked: var(--Neutral-300);
  --color-bg-slider-checked: var(--Red-500);
  --color-outline-slider-focus: var(--Red-500);
  --color-bg-slider-checked-hover: var(--Red-700);
  --color-round-slider: var(--Neutral-0);
}


html,
body {
  min-height: 100%;
}

html {
  overflow-y: scroll;

}

body {
  font-family: "NotoSans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background: var(--color-bg-app);
}

/*General styles*/

.topbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-bg-topbar);
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.topbar > button {
  background: var(--color-bg-topbar-btn);
  border: none;
  border-radius: 10px;
  font-size: 8px;
  border: none;
}

.topbar > button > #themeIcon {
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.topbar > button:focus {
  outline: none;
}

.topbar > button:focus #themeIcon {
  outline: solid 2px var(--color-outline-topbar-btn);
  outline-offset: 2px;
  background: var(--color-bg-topbar-btn-hover);
}

.topbar > button > #themeIcon:hover {
  background: var(--color-bg-topbar-btn-hover);
  cursor: pointer;
}

/* Empiezan los estilos de la barra de estados */

.topbarStates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbarStates > h1 {
  font-size: 25px;
  color: var(--color-text-title);
}

.topbarStates > .states {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.topbarStates > .states > button {
  background: var(--color-bg-btn);
  color: var(--color-text-btn);
  font-size: 15px;
  border-radius: 20px;
  padding: 7px 15px;
  border: 1px solid var(--color-border-btn);
}

.topbarStates > .states > button.active {
  background: var(--color-bg-btn-active);
  color: var(--color-text-btn-active);
  border: 1px solid transparent;
}

.topbarStates > .states > button.active:hover {
  background: var(--color-bg-btn-active-hover);
}

.topbarStates > .states > button:hover {
  background: var(--color-bg-btn-hover);
  cursor: pointer;
}

.topbarStates > .states > button:focus {
  outline: 2px solid var(--color-outline-btn-focus);
  outline-offset: 2px;
}

.topbarStates > .states > button:focus:not(.active) {
  background: var(--color-bg-btn-focus-not-active);
}


#extensionsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

#extensionsList > .card {
  background: var(--color-bg-card);
  border: solid 1px var(--color-border-card);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

#extensionsList > .card > .card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}

#extensionsList > .card > .card-header > .card-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#extensionsList > .card > .card-header > .card-header-text > h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-card-title);
}

#extensionsList > .card > .card-header > .card-header-text > p {
  color: var(--color-text-card-desc);
}

#extensionsList > .card > .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#extensionsList > .card > .card-footer > button {
  background: var(--color-bg-card-btn);
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  padding: 7px 15px;
  border: solid 1px var(--color-border-card-btn);
  color: var(--color-text-card-btn);
  cursor: pointer;
}

#extensionsList > .card > .card-footer > button:hover {
  background: var(--color-bg-card-btn-hover);
  color: var(--color-text-card-btn-hover);
  border: 1px solid transparent;
}

#extensionsList > .card > .card-footer > button:focus {
  background: var( --color-bg-card-btn-focus);
  color: var(--color-text-card-btn-focus);
  outline: 2px solid var(--color-outline-card-btn-focus);
  outline-offset: 2px;
}

/*Switch styles*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--color-bg-slider-no-checked);
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-round-slider);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-bg-slider-checked);
}

input:checked + .slider:hover {
  background-color: var(--color-bg-slider-checked-hover);
}

.switch > input:focus + .slider {
  outline: 2px solid var(--color-outline-slider-focus);
  outline-offset: 2px;
  transition: none;
}

input:checked + .slider::before {
  transform: translateX(22px);
}

/*End switch styles*/