@import "./colors.css";
@import "./fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "NotoSans", sans-serif;
  font-size: 16px;
  background: var(--Dark-Gradient);
  color: var(--Neutral-300);
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

/*General styles*/

.topbar {
  display: flex;
  justify-content: space-between;
  background: var(--Neutral-800);
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.topbar > button {
  background: var(--Neutral-700);
  border: none;
  border-radius: 10px;
  font-size: 8px;
  border: none;
}

.topbar > button > #themeIcon {
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.topbar > button:focus {
  outline: none;
}

.topbar > button:focus #themeIcon {
  outline: solid 2px var(--Red-500);
  outline-offset: 2px;
  background: var(--Neutral-600);
}

.topbar > button > #themeIcon:hover {
  background: var(--Neutral-600);
  cursor: pointer;
}

/* Empiezan los estilos de la barra de estados */

.topbarStates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbarStates > h1 {
  font-size: 25px;
}

.topbarStates > .states {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.topbarStates > .states > button {
  background: var(--Neutral-700);
  color: var(--Neutral-100);
  font-size: 15px;
  border-radius: 20px;
  padding: 7px 15px;
  border: 1px solid var(--Neutral-600);
}

.topbarStates > .states > button:hover {
  background: var(--Neutral-600);
  color: var(--Neutral-0);
  cursor: pointer;
}
.topbarStates > .states > button:focus {
  background: var(--Neutral-600);
  color: var(--Neutral-0);
  outline: 2px solid var(--Red-500);
  outline-offset: 2px;
}

.topbarStates > .states > button:active,
.topbarStates > .states > button.selected {
  background: var(--Red-500);
  color: var(--Neutral-800);
  outline: none;
}

#extensionsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

#extensionsList > .card {
  background: var(--Neutral-800);
  border: solid 1px var(--Neutral-600);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

#extensionsList > .card > .card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}

#extensionsList > .card > .card-header > .card-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#extensionsList > .card > .card-header > .card-header-text > h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--Neutral-100);
}

#extensionsList > .card > .card-header > .card-header-text > p {
color: var(--Neutral-300);
}

#extensionsList > .card > .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#extensionsList > .card > .card-footer > button {
  background: var(--Neutral-800);
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  padding: 7px 15px;
  border: solid 1px var(--Neutral-600);
  color: var(--Neutral-300);
  cursor: pointer;
}

#extensionsList > .card > .card-footer > button:hover {
  background: var(--Red-700);
  color: var(--Neutral-700);
  border: 1px solid transparent;
}

#extensionsList > .card > .card-footer > button:focus {
  background: var(--Neutral-600);
  color: var(--Neutral-0);
  outline: 2px solid var(--Red-500);
  outline-offset: 2px;
}

/*Switch styles*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--Neutral-600);
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--Red-500);
}

input:checked + .slider:hover {
  background-color: var(--Red-700);
}

.switch > input:focus + .slider{
  outline: 2px solid var(--Red-500);
  outline-offset: 2px;
  transition: none;
}


input:checked + .slider::before {
  transform: translateX(22px);
}


/*End switch styles*/
